<h1>Pleas log in</h1>

<form {{on "submit" this.login}}>
  <label for="username">Username</label>
  <input type="text" name="username" {{on "change" (fn this.update "username")}}>
  <label for="password">Password</label>
  <input type="password" name="password" {{on "change" (fn this.update "password")}}>
  <input type="submit" value="Login" >
</form>

{{#if error}}
  <p><strong>{{error}}</strong></p>
{{/if}}